*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #e0e5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background: #e0e5ec;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
    width: 320px;
}

.display{
    margin-bottom: 25px;

}

#result{
    width: 100%;
    height: 60px;
    background: #e0e5ec;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: inset 6px 6px 12px
    #bec3c9, inset -6px -6px 12px #ffffff;
    text-align: right;
    padding: 0 20px; 
    font-size: 28px;
    color:#555
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

 
}

.btn{
    width: 60px;
    height: 60px;
    background: #e0e5ec;
    border:none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
   box-shadow:  6px 6px 12px
    #bec3c9,  -6px -6px 12px #ffffff;
    transition: all 0.2s ease;

}

.btn:active{
    box-shadow:  4px 4px 8px
    #bec3c9, -4px -4px  8px #ffffff;
}

.action{
    color: #d13d7c;
}

.operator{
    color: #d13d7c;

}

.equal{
    grid-column: span 2;
    width: 135px;
    color: #d13d7c;
}
